@import '../../global.scss';

.portfoliolist{
    font-size: 20px;
    margin-right: 30px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;

    @include mobile{
        margin-right: 10px;
        overflow: hidden;
    }

    &.active{
        background-color: $mainColor;
        color: #fff;
    }
}